<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=ASUS-TUF\SQLEXPRESS;database=qamar_tech_shclis_stg;user id=shcadmin;pwd=India@#$123;"/>
    <add key="SiteUrl" value="http://shc.qamarmedia.in"/>
    <add key="SmtpServer" value="qamarmedia.in"/>
    <add key="MailUser" value="support@qamarmedia.in"/>
    <add key="MailUserPassword" value="DRftgyhu12"/>
    <add key="Info" value="support@qamarmedia.in"/>
    <add key="Support" value="support@qamarmedia.in"/>
    <add key="LogoImg" value="http://shc.qamarmedia.in/logo.gif"/>
    <add key="MainDeptId" value="4,5"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms">
    </authentication>
    <customErrors mode="Off">
    </customErrors>
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="ajax"/>
        <add assembly="FreeTextBox" namespace="FreeTextBoxControls" tagPrefix="FTB"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </assemblies>
    </compilation>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
